@import "../../app/_variables.scss";

.activity {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed $border-color;
  border-radius: 0.5rem;

  &:hover {
    background-color: #f7f9fd;
    border-color: transparent;
  }

  & input[type="checkbox"] {
    display: none;
  }

  & label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 1.8rem;

    &::before {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid $border-color;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.3s, border-color 0.3s;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    & input:checked + &::before {
      background-color: $button-primary-color;
      border-color: transparent;
    }

    input:checked + &::after {
      content: "✔";
      color: white;
      position: absolute;
      left: 0.35rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
    }
  }

  &.done {
    text-decoration: line-through;
    color: $text-secondary;
  }

//   p {
//     width: 100%;
//   }
}
