@import '../../app/_variables.scss';

.mainCard{
    border: 1px solid $border-color;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        outline: 1px solid $outline-color;
    };
    grid-column: 2/3;
}
