$border-color: #d7dde9;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  border-bottom: 1px solid $border-color;
  margin-inline: 56px;

  @media screen and (max-width: 600px) {
    margin-inline: 1rem;
    h1{
      font-size: 1rem;
    }
  }
}
